In [8]:
import json
import pandas as pd

file = 'dogman'
filepath = f'../Data/{file}.csv'

data = pd.read_csv(filepath)

data

,state,state_abbrev,location,longitude,latitude,date,description
0,Canada,Canada,Alberta,-116.576503,53.933271,NaN,About three years ago i encountered what I cou...
1,Canada,Canada,Deadwood Alberta,-117.458219,56.740963,NaN,I came across another report of a bipedal cani...
2,Canada,Canada,Deadwood Alberta,-117.458219,56.740963,NaN,I received a report about an unusual wolf/wolf...
3,Canada,Canada,Deadwood Alberta,-117.458219,56.740963,NaN,In this report a husband and wife were out cro...
4,Canada,Canada,Gillam Manitoba,-94.774844,56.333410,NaN,I saw something that put a big scare into me. ...
...,...,...,...,...,...,...,...
127,Texas,TX,Freestone County,-96.152698,31.753489,2016-04-23,4/23/2016 - I was out at my grandparent’s hous...
128,Texas,TX,Roscoe,-100.538718,32.445952,NaN,Date Unknown - the first encounter was when i...
129,Washington,WA,Snohomish County,-122.098185,47.912876,NaN,1997-98 - My first encounter happened late at ...
130,Wyoming,WY,Boulder,-109.720564,42.746161,2010-10-15,Name:\nKen\nReport Title:\nEncounter outside o...
131,Colorado,CO,Pueblo,-104.609141,38.254447,2018-01-28,Name:\nTammy\nReport Title:\nDogman Plus Other...

In [9]:
dataone = data[data['latitude'].notna()]
dataone = dataone[dataone['longitude'].notna()]
dataone = dataone.reset_index(drop=True)
cleandata = dataone

cleandata

,state,state_abbrev,location,longitude,latitude,date,description
0,Canada,Canada,Alberta,-116.576503,53.933271,NaN,About three years ago i encountered what I cou...
1,Canada,Canada,Deadwood Alberta,-117.458219,56.740963,NaN,I came across another report of a bipedal cani...
2,Canada,Canada,Deadwood Alberta,-117.458219,56.740963,NaN,I received a report about an unusual wolf/wolf...
3,Canada,Canada,Deadwood Alberta,-117.458219,56.740963,NaN,In this report a husband and wife were out cro...
4,Canada,Canada,Gillam Manitoba,-94.774844,56.333410,NaN,I saw something that put a big scare into me. ...
...,...,...,...,...,...,...,...
127,Texas,TX,Freestone County,-96.152698,31.753489,2016-04-23,4/23/2016 - I was out at my grandparent’s hous...
128,Texas,TX,Roscoe,-100.538718,32.445952,NaN,Date Unknown - the first encounter was when i...
129,Washington,WA,Snohomish County,-122.098185,47.912876,NaN,1997-98 - My first encounter happened late at ...
130,Wyoming,WY,Boulder,-109.720564,42.746161,2010-10-15,Name:\nKen\nReport Title:\nEncounter outside o...
131,Colorado,CO,Pueblo,-104.609141,38.254447,2018-01-28,Name:\nTammy\nReport Title:\nDogman Plus Other...

In [8]:
# Skip to the last cell if not converting alien data
file = 'aliens-2'
filepath = f'../Data/{file}.csv'

data2 = pd.read_csv(filepath)

data2

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,"Flat black color, 6-legged, toy jack shaped, b...",Pittsburgh,PA,1969-01-08T21:30:00,other,5 minutes,Occurred : 1/8/1969 21:30 (Entered as : 01/08...,http://www.nuforc.org/webreports/104/S104287.html,"Flat black color, 6-legged, toy jack shaped, b...",2013-11-11T00:00:00,40.443092,-79.974242
1,"Brilliant metallic, glowing disc shaped craft ...",Odessa,WA,1969-03-17T20:00:00,disk,10 minutes,Occurred : 3/17/1969 20:00 (Entered as : 03/1...,http://www.nuforc.org/webreports/123/S123342.html,"Brilliant metallic, glowing disc shaped craft ...",2015-11-06T00:00:00,47.340700,-118.669300
2,Myself and one other person saw a parked space...,Dillon,SC,1969-04-04T22:30:00,disk,~1 minute,Occurred : 4/4/1969 22:30 (Entered as : 4/4/1...,http://www.nuforc.org/webreports/118/S118259.html,Myself and one other person saw a parked space...,2015-04-08T00:00:00,34.427200,-79.372300
3,An incomplete report given on behalf of anothe...,El Paso,TX,1969-06-01T00:00:00,other,3 minutes,Occurred : 6/1/1969 00:00 (Entered as : 1969 ...,http://www.nuforc.org/webreports/151/S151313.html,An incomplete report given on behalf of anothe...,2019-12-19T00:00:00,31.792328,-106.374849
4,Rectangle shaped object was huge dark colored ...,Athens,NY,1969-06-01T22:00:00,rectangle,3 minutes,Occurred : 6/1/1969 22:00 (Entered as : 1969 ...,http://www.nuforc.org/webreports/106/S106359.html,Rectangled shaped object was huge dark colored...,2014-01-16T00:00:00,42.282300,-73.829400
...,...,...,...,...,...,...,...,...,...,...,...,...
35856,four red lights appeared above the river like ...,Prince Albert,SK,2019-12-18T20:15:00,circle,4 minutes,Occurred : 12/18/2019 20:15 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151724.html,location - Prince Albert date -dec 18th 2019 t...,2019-12-19T00:00:00,53.199716,-105.747889
35857,Exploding hovering fire ball (have video and p...,Waynesboro,MS,2019-12-18T21:00:00,fireball,10 minutes,Occurred : 12/18/2019 21:00 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151730.html,Exploding hovering fire ball (have video and p...,2019-12-19T00:00:00,31.686500,-88.684500
35858,Exploding hovering fire ball (have video and p...,Waynesboro,MS,2019-12-18T21:00:00,fireball,10 minutes,Occurred : 12/18/2019 21:00 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151729.html,Exploding hovering fire ball (have video and p...,2019-12-19T00:00:00,31.686500,-88.684500
35859,My friend and I saw many black triangles with ...,Cochrane,AB,2019-12-18T23:30:00,triangle,45 minutes,Occurred : 12/18/2019 23:30 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151720.html,My friend and I saw many black triangles with ...,2019-12-19T00:00:00,51.183400,-114.468700
35860,7-8 elongated objects flying in straight line ...,Wilmington,NC,2019-12-29T20:40:00,cigar,10 seconds,Occurred : 11/29/2019 20:40 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151158.html,7-8 elongated objects flying in straight line ...,2019-12-01T00:00:00,34.238375,-77.878468

In [4]:
datatwo = data2[data2['latitude'].notna()]
datatwo = datatwo[datatwo['longitude'].notna()]
datatwo = datatwo.reset_index(drop=True)

cleandata = pd.concat([dataone,datatwo], axis=0)
cleandata = cleandata.reset_index(drop=True)

cleandata

,summary,city,state,date_time,shape,duration,stats,report_link,text,posted,city_latitude,city_longitude
0,Football shaped glowing orange light drifts st...,Omaha,NE,1969-03-01T00:00:00,oval,thirty seconds,Occurred : 3/1/1969 00:00 (Entered as : 03/01...,http://www.nuforc.org/webreports/084/S84875.html,Football shaped glowing orange light drifts st...,2011-12-12T00:00:00,41.254852,-96.064828
1,"3 to 4 ft long,gun metal color,very load shook...",Oroville,WA,1969-03-15T11:00:00,cross,2min,Occurred : 3/15/1969 11:00 (Entered as : 03/0...,http://www.nuforc.org/webreports/074/S74158.html,"3 to 4 ft long,gun metal color,very load shook...",2010-02-14T00:00:00,48.879100,-119.224500
2,Cigar shaped silver object larger than schoolb...,Loganville,GA,1969-04-01T07:00:00,cigar,15 sec,Occurred : 4/1/1969 07:00 (Entered as : 4/1/1...,http://www.nuforc.org/webreports/069/S69095.html,Cigar shaped silver object larger than schoolb...,2009-03-19T00:00:00,33.804200,-83.889300
3,"1969 forest park , cigar , brownish gray colo...",St Louis,MO,1969-05-15T14:00:00,cigar,2min,Occurred : 5/15/1969 14:00 (Entered as : 0515...,http://www.nuforc.org/webreports/060/S60430.html,"1969 forest park , cigar , brownish gray colo...",2008-02-14T00:00:00,38.623825,-90.308528
4,"3 gold balls gather, split to 5 and disappear!",Sarasota,FL,1969-06-01T12:00:00,light,10 seconds?,Occurred : 6/1/1969 12:00 (Entered as : 6-196...,http://www.nuforc.org/webreports/084/S84833.html,"3 gold balls gather, split to 5 and disappear!...",2011-12-12T00:00:00,27.310734,-82.490440
...,...,...,...,...,...,...,...,...,...,...,...,...
67767,four red lights appeared above the river like ...,Prince Albert,SK,2019-12-18T20:15:00,circle,4 minutes,Occurred : 12/18/2019 20:15 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151724.html,location - Prince Albert date -dec 18th 2019 t...,2019-12-19T00:00:00,53.199716,-105.747889
67768,Exploding hovering fire ball (have video and p...,Waynesboro,MS,2019-12-18T21:00:00,fireball,10 minutes,Occurred : 12/18/2019 21:00 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151730.html,Exploding hovering fire ball (have video and p...,2019-12-19T00:00:00,31.686500,-88.684500
67769,Exploding hovering fire ball (have video and p...,Waynesboro,MS,2019-12-18T21:00:00,fireball,10 minutes,Occurred : 12/18/2019 21:00 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151729.html,Exploding hovering fire ball (have video and p...,2019-12-19T00:00:00,31.686500,-88.684500
67770,My friend and I saw many black triangles with ...,Cochrane,AB,2019-12-18T23:30:00,triangle,45 minutes,Occurred : 12/18/2019 23:30 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151720.html,My friend and I saw many black triangles with ...,2019-12-19T00:00:00,51.183400,-114.468700
67771,7-8 elongated objects flying in straight line ...,Wilmington,NC,2019-12-29T20:40:00,cigar,10 seconds,Occurred : 11/29/2019 20:40 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151158.html,7-8 elongated objects flying in straight line ...,2019-12-01T00:00:00,34.238375,-77.878468

In [10]:
# use for aliens
#cleandata.to_json(f'../Data/json/aliens.json', orient='index')

# use for everything else
cleandata.to_json(f'../Data/json/{file}.json', orient='index')