In [2]:
import json
import pandas as pd

file = 'bigfoot'
filepath = f'../Data/{file}.csv'

data = pd.read_csv(filepath)

data

,summary,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,weather,uv_index,visibility,wind_bearing,wind_speed
0,We were in the car taking out our boat. I forg...,On the roadway to Flamingo (Everglades Nationa...,Monroe County,FL,Spring,Report 15170: Daytime sighting near Everglades...,25.14100,-80.92600,3/1/06,15170,...,0.06,0.0537,0.61,rain,1019.10,Heavy rain overnight.,6.0,10.00,93.0,5.78
1,I've thought about posting my experience here ...,"It wasn't in Flamingo Campground, but as my da...",Monroe County,FL,Summer,Report 24241: Family has a strange and terrify...,25.19935,-80.87379,6/18/75,24241,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I worked in a nightclub on miami beach called ...,Pine Forest Habitat on the Everglades National...,Monroe County,FL,Spring,Report 36218: Early morning encounter during a...,25.39544,-80.59502,3/15/95,36218,...,0.45,NaN,NaN,rain,1016.85,Partly cloudy throughout the day.,8.0,9.50,113.0,10.66
3,My parents had a full-sized house trailer in K...,US 27,Dade County,FL,Spring,Report 1719: Possible collision with vehicle o...,25.48170,-80.51580,3/15/72,1719,...,0.01,0.0000,0.00,NaN,1017.73,Partly cloudy until evening.,7.0,9.83,122.0,4.01
4,By the way the images captured by Jacobs are s...,NaN,Dade County,FL,Fall,Report 21951: Man describes figure looking int...,25.51665,-80.43689,11/15/77,21951,...,0.16,0.0000,0.00,NaN,1021.04,Partly cloudy throughout the day.,5.0,7.59,76.0,6.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3792,My hiking partner and I arrived late to the Ke...,"On the main trail toward the glacier, before t...",Cordova-McCarthy County,AK,Summer,Report 637: Campers' encounter just after dark...,61.50000,-142.90000,6/16/00,637,...,0.49,NaN,NaN,rain,NaN,Overcast throughout the day.,4.0,NaN,188.0,4.05
3793,"Around 6:45pm on April 23rd, 2008, as my son a...",I believe it was about 15 miles from the US Cu...,Southeast Fairbanks County,AK,Spring,Report 23666: Passenger on the Alcan Highway s...,62.77335,-141.31650,4/23/08,23666,...,0.61,0.0000,0.00,NaN,1021.21,Mostly cloudy starting in the evening.,4.0,10.00,76.0,1.59
3794,"My daughter and I were traveling to Tok, AK, w...",We were traveling westbound when the animal wa...,Southeast Fairbanks County,AK,Summer,"Report 9317: Driver on Alcan Highway has noon,...",62.93750,-141.56670,6/18/04,9317,...,0.03,0.0000,0.00,NaN,1024.32,Partly cloudy until afternoon.,6.0,10.00,307.0,2.72
3795,This is an excerpt from a short story I wrote ...,"This is near Ketchumstock Mountain, about a 30...",Southeast Fairbanks County,AK,Fall,Report 25442: Hunter describes powerful wood k...,63.98869,-142.76910,8/20/08,25442,...,0.63,0.0000,0.00,NaN,NaN,Clear throughout the day.,0.0,NaN,347.0,4.97
3796,"It was the month of July, 2009 in Fairbanks AK...",The intersection of Auburn and Farmers Loop is...,Fairbanks County,AK,Summer,Report 26604: Daytime sighting of reddish-colo...,64.89139,-147.81420,7/15/09,26604,...,0.77,0.0012,0.74,rain,1016.61,Foggy in the morning.,4.0,5.73,324.0,0.96

In [3]:
dataone = data[data['latitude'].notna()]
dataone = dataone[dataone['longitude'].notna()]
dataone = dataone.reset_index(drop=True)
cleandata = dataone

cleandata

,summary,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,weather,uv_index,visibility,wind_bearing,wind_speed
0,We were in the car taking out our boat. I forg...,On the roadway to Flamingo (Everglades Nationa...,Monroe County,FL,Spring,Report 15170: Daytime sighting near Everglades...,25.14100,-80.92600,3/1/06,15170,...,0.06,0.0537,0.61,rain,1019.10,Heavy rain overnight.,6.0,10.00,93.0,5.78
1,I've thought about posting my experience here ...,"It wasn't in Flamingo Campground, but as my da...",Monroe County,FL,Summer,Report 24241: Family has a strange and terrify...,25.19935,-80.87379,6/18/75,24241,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I worked in a nightclub on miami beach called ...,Pine Forest Habitat on the Everglades National...,Monroe County,FL,Spring,Report 36218: Early morning encounter during a...,25.39544,-80.59502,3/15/95,36218,...,0.45,NaN,NaN,rain,1016.85,Partly cloudy throughout the day.,8.0,9.50,113.0,10.66
3,My parents had a full-sized house trailer in K...,US 27,Dade County,FL,Spring,Report 1719: Possible collision with vehicle o...,25.48170,-80.51580,3/15/72,1719,...,0.01,0.0000,0.00,NaN,1017.73,Partly cloudy until evening.,7.0,9.83,122.0,4.01
4,By the way the images captured by Jacobs are s...,NaN,Dade County,FL,Fall,Report 21951: Man describes figure looking int...,25.51665,-80.43689,11/15/77,21951,...,0.16,0.0000,0.00,NaN,1021.04,Partly cloudy throughout the day.,5.0,7.59,76.0,6.02
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3792,My hiking partner and I arrived late to the Ke...,"On the main trail toward the glacier, before t...",Cordova-McCarthy County,AK,Summer,Report 637: Campers' encounter just after dark...,61.50000,-142.90000,6/16/00,637,...,0.49,NaN,NaN,rain,NaN,Overcast throughout the day.,4.0,NaN,188.0,4.05
3793,"Around 6:45pm on April 23rd, 2008, as my son a...",I believe it was about 15 miles from the US Cu...,Southeast Fairbanks County,AK,Spring,Report 23666: Passenger on the Alcan Highway s...,62.77335,-141.31650,4/23/08,23666,...,0.61,0.0000,0.00,NaN,1021.21,Mostly cloudy starting in the evening.,4.0,10.00,76.0,1.59
3794,"My daughter and I were traveling to Tok, AK, w...",We were traveling westbound when the animal wa...,Southeast Fairbanks County,AK,Summer,"Report 9317: Driver on Alcan Highway has noon,...",62.93750,-141.56670,6/18/04,9317,...,0.03,0.0000,0.00,NaN,1024.32,Partly cloudy until afternoon.,6.0,10.00,307.0,2.72
3795,This is an excerpt from a short story I wrote ...,"This is near Ketchumstock Mountain, about a 30...",Southeast Fairbanks County,AK,Fall,Report 25442: Hunter describes powerful wood k...,63.98869,-142.76910,8/20/08,25442,...,0.63,0.0000,0.00,NaN,NaN,Clear throughout the day.,0.0,NaN,347.0,4.97
3796,"It was the month of July, 2009 in Fairbanks AK...",The intersection of Auburn and Farmers Loop is...,Fairbanks County,AK,Summer,Report 26604: Daytime sighting of reddish-colo...,64.89139,-147.81420,7/15/09,26604,...,0.77,0.0012,0.74,rain,1016.61,Foggy in the morning.,4.0,5.73,324.0,0.96

In [3]:
# Skip to the last cell if not converting alien data
file = 'aliens-2'
filepath = f'../Data/{file}.csv'

data2 = pd.read_csv(filepath)

data2

,title,city,state,date_time,shape,duration,stats,report_link,summary,posted,latitude,longitude
0,"Flat black color, 6-legged, toy jack shaped, b...",Pittsburgh,PA,1969-01-08T21:30:00,other,5 minutes,Occurred : 1/8/1969 21:30 (Entered as : 01/08...,http://www.nuforc.org/webreports/104/S104287.html,"Flat black color, 6-legged, toy jack shaped, b...",2013-11-11T00:00:00,40.443092,-79.974242
1,"Brilliant metallic, glowing disc shaped craft ...",Odessa,WA,1969-03-17T20:00:00,disk,10 minutes,Occurred : 3/17/1969 20:00 (Entered as : 03/1...,http://www.nuforc.org/webreports/123/S123342.html,"Brilliant metallic, glowing disc shaped craft ...",2015-11-06T00:00:00,47.340700,-118.669300
2,Myself and one other person saw a parked space...,Dillon,SC,1969-04-04T22:30:00,disk,~1 minute,Occurred : 4/4/1969 22:30 (Entered as : 4/4/1...,http://www.nuforc.org/webreports/118/S118259.html,Myself and one other person saw a parked space...,2015-04-08T00:00:00,34.427200,-79.372300
3,An incomplete report given on behalf of anothe...,El Paso,TX,1969-06-01T00:00:00,other,3 minutes,Occurred : 6/1/1969 00:00 (Entered as : 1969 ...,http://www.nuforc.org/webreports/151/S151313.html,An incomplete report given on behalf of anothe...,2019-12-19T00:00:00,31.792328,-106.374849
4,Rectangle shaped object was huge dark colored ...,Athens,NY,1969-06-01T22:00:00,rectangle,3 minutes,Occurred : 6/1/1969 22:00 (Entered as : 1969 ...,http://www.nuforc.org/webreports/106/S106359.html,Rectangled shaped object was huge dark colored...,2014-01-16T00:00:00,42.282300,-73.829400
...,...,...,...,...,...,...,...,...,...,...,...,...
35856,four red lights appeared above the river like ...,Prince Albert,SK,2019-12-18T20:15:00,circle,4 minutes,Occurred : 12/18/2019 20:15 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151724.html,location - Prince Albert date -dec 18th 2019 t...,2019-12-19T00:00:00,53.199716,-105.747889
35857,Exploding hovering fire ball (have video and p...,Waynesboro,MS,2019-12-18T21:00:00,fireball,10 minutes,Occurred : 12/18/2019 21:00 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151730.html,Exploding hovering fire ball (have video and p...,2019-12-19T00:00:00,31.686500,-88.684500
35858,Exploding hovering fire ball (have video and p...,Waynesboro,MS,2019-12-18T21:00:00,fireball,10 minutes,Occurred : 12/18/2019 21:00 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151729.html,Exploding hovering fire ball (have video and p...,2019-12-19T00:00:00,31.686500,-88.684500
35859,My friend and I saw many black triangles with ...,Cochrane,AB,2019-12-18T23:30:00,triangle,45 minutes,Occurred : 12/18/2019 23:30 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151720.html,My friend and I saw many black triangles with ...,2019-12-19T00:00:00,51.183400,-114.468700
35860,7-8 elongated objects flying in straight line ...,Wilmington,NC,2019-12-29T20:40:00,cigar,10 seconds,Occurred : 11/29/2019 20:40 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151158.html,7-8 elongated objects flying in straight line ...,2019-12-01T00:00:00,34.238375,-77.878468

In [4]:
datatwo = data2[data2['latitude'].notna()]
datatwo = datatwo[datatwo['longitude'].notna()]
datatwo = datatwo.reset_index(drop=True)

cleandata = pd.concat([dataone,datatwo], axis=0)
cleandata = cleandata.reset_index(drop=True)

cleandata

,title,city,state,date_time,shape,duration,stats,report_link,summary,posted,latitude,longitude
0,Football shaped glowing orange light drifts st...,Omaha,NE,1969-03-01T00:00:00,oval,thirty seconds,Occurred : 3/1/1969 00:00 (Entered as : 03/01...,http://www.nuforc.org/webreports/084/S84875.html,Football shaped glowing orange light drifts st...,2011-12-12T00:00:00,41.254852,-96.064828
1,"3 to 4 ft long,gun metal color,very load shook...",Oroville,WA,1969-03-15T11:00:00,cross,2min,Occurred : 3/15/1969 11:00 (Entered as : 03/0...,http://www.nuforc.org/webreports/074/S74158.html,"3 to 4 ft long,gun metal color,very load shook...",2010-02-14T00:00:00,48.879100,-119.224500
2,Cigar shaped silver object larger than schoolb...,Loganville,GA,1969-04-01T07:00:00,cigar,15 sec,Occurred : 4/1/1969 07:00 (Entered as : 4/1/1...,http://www.nuforc.org/webreports/069/S69095.html,Cigar shaped silver object larger than schoolb...,2009-03-19T00:00:00,33.804200,-83.889300
3,"1969 forest park , cigar , brownish gray colo...",St Louis,MO,1969-05-15T14:00:00,cigar,2min,Occurred : 5/15/1969 14:00 (Entered as : 0515...,http://www.nuforc.org/webreports/060/S60430.html,"1969 forest park , cigar , brownish gray colo...",2008-02-14T00:00:00,38.623825,-90.308528
4,"3 gold balls gather, split to 5 and disappear!",Sarasota,FL,1969-06-01T12:00:00,light,10 seconds?,Occurred : 6/1/1969 12:00 (Entered as : 6-196...,http://www.nuforc.org/webreports/084/S84833.html,"3 gold balls gather, split to 5 and disappear!...",2011-12-12T00:00:00,27.310734,-82.490440
...,...,...,...,...,...,...,...,...,...,...,...,...
70062,four red lights appeared above the river like ...,Prince Albert,SK,2019-12-18T20:15:00,circle,4 minutes,Occurred : 12/18/2019 20:15 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151724.html,location - Prince Albert date -dec 18th 2019 t...,2019-12-19T00:00:00,53.199716,-105.747889
70063,Exploding hovering fire ball (have video and p...,Waynesboro,MS,2019-12-18T21:00:00,fireball,10 minutes,Occurred : 12/18/2019 21:00 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151730.html,Exploding hovering fire ball (have video and p...,2019-12-19T00:00:00,31.686500,-88.684500
70064,Exploding hovering fire ball (have video and p...,Waynesboro,MS,2019-12-18T21:00:00,fireball,10 minutes,Occurred : 12/18/2019 21:00 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151729.html,Exploding hovering fire ball (have video and p...,2019-12-19T00:00:00,31.686500,-88.684500
70065,My friend and I saw many black triangles with ...,Cochrane,AB,2019-12-18T23:30:00,triangle,45 minutes,Occurred : 12/18/2019 23:30 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151720.html,My friend and I saw many black triangles with ...,2019-12-19T00:00:00,51.183400,-114.468700
70066,7-8 elongated objects flying in straight line ...,Wilmington,NC,2019-12-29T20:40:00,cigar,10 seconds,Occurred : 11/29/2019 20:40 (Entered as : 12/...,http://www.nuforc.org/webreports/151/S151158.html,7-8 elongated objects flying in straight line ...,2019-12-01T00:00:00,34.238375,-77.878468

In [4]:
# use for aliens
#cleandata.to_json(f'../Data/json/aliens.json', orient='index')

# use for everything else
cleandata.to_json(f'../Data/json/{file}.json', orient='index')