In [12]:
import json
import pandas as pd

file = 'Bigfoot'
filepath = f'../Data/{file}.csv'

data = pd.read_csv(filepath)

data.head()

,observed,location_details,county,state,season,title,latitude,longitude,date,number,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
0,Ed L. was salmon fishing with a companion in P...,East side of Prince William Sound,Valdez-Chitina-Whittier County,Alaska,Fall,NaN,NaN,NaN,NaN,1261.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,heh i kinda feel a little dumb that im reporti...,"the road is off us rt 80, i dont know the exit...",Warren County,New Jersey,Fall,NaN,NaN,NaN,NaN,438.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I was on my way to Claremont from Lebanon on R...,Close to Claremont down 120 not far from Kings...,Sullivan County,New Hampshire,Summer,Report 55269: Dawn sighting at Stevens Brook o...,43.41549,-72.33093,2016-06-07,55269.0,...,0.10,0.001,0.7,rain,998.87,Mostly cloudy throughout the day.,6.0,9.70,262.0,0.49
3,I was northeast of Macy Nebraska along the Mis...,Latitude & Longitude : 42.158230 -96.344197,Thurston County,Nebraska,Spring,Report 59757: Possible daylight sighting of a ...,42.15685,-96.34203,2018-05-25,59757.0,...,0.38,0.000,0.0,NaN,1008.07,Partly cloudy in the morning.,10.0,8.25,193.0,3.33
4,"While this incident occurred a long time ago, ...","Ward County, Just outside of a the Minuteman T...",Ward County,North Dakota,Spring,Report 751: Hunter describes described being s...,48.25422,-101.31660,2000-04-21,751.0,...,0.60,NaN,NaN,rain,1011.47,Partly cloudy until evening.,6.0,10.00,237.0,11.14

In [24]:
cleandata = data.dropna()
cleandata = cleandata.reset_index()

cleandata.head()

,index,observed,location_details,county,state,season,title,latitude,longitude,date,...,moon_phase,precip_intensity,precip_probability,precip_type,pressure,summary,uv_index,visibility,wind_bearing,wind_speed
0,2,I was on my way to Claremont from Lebanon on R...,Close to Claremont down 120 not far from Kings...,Sullivan County,New Hampshire,Summer,Report 55269: Dawn sighting at Stevens Brook o...,43.41549,-72.33093,2016-06-07,...,0.10,0.0010,0.70,rain,998.87,Mostly cloudy throughout the day.,6.0,9.70,262.0,0.49
1,19,"I am 45 years old, have spent my whole life in...","Leominster state forest, back side of No Town ...",Worcester County,Massachusetts,Summer,Report 28017: Hikers observe and cast possible...,42.54334,-71.80123,2010-11-08,...,0.09,0.0195,0.98,rain,1000.84,Rain in the morning.,2.0,6.70,345.0,3.48
2,24,"I was hiking in the woods, doing occasional wh...","Vaughn Woods State Park in South Berwick, Maine.",York County,Maine,Winter,Report 56798: Possible track way found in the ...,43.20450,-70.81187,2017-02-14,...,0.63,0.0006,0.31,snow,1009.95,Overcast overnight.,3.0,9.94,235.0,0.48
3,33,It was August of 1977 and I had missed my ride...,"Waterloo Road, near the Sussex - Warren County...",Warren County,New Jersey,Summer,Report 49883: Recollection of a possible late ...,40.89452,-74.79077,2015-10-02,...,0.67,0.0092,0.99,rain,1022.92,Light rain starting in the afternoon.,3.0,9.16,45.0,2.87
4,58,"Since October I have had many howls, wood knoc...",Take Hwy.471 to Dartigo Rd. to the Church of G...,Grant Parish,Louisiana,Winter,Report 56576: Homeowner describes ongoing acti...,31.36800,-92.42200,2017-01-21,...,0.80,0.0106,0.80,rain,1001.69,Mostly cloudy starting in the afternoon.,4.0,8.11,156.0,2.22

In [25]:
cleandata.to_json(f'../Data/json/{file}.json', orient='index')